body {
	font-family: arial;
}

.desktop {
	display: block;
}

.mobile {
	display: none;
}

select {
	height: 75px;
	width: 400px;
	font-size: 30px;
	text-indent: 75px;
}

.col {
	width: 14%;
	float: left;
}

.col.east {
	float: right;
}

.col.two {
	margin-top: 74px;
}

.col.three {
	margin-top: 110px;
}

.box {
	position: relative;
	border: 1px solid #ccc;
	margin: 10px;
}

.box table {
	text-align: center;
	margin: auto;
}
.box table img {
	width: 70px;
	height: 70px;
}

.box table .placeholder {
	position: relative;
	display: block;
	background-color: white;
	width: 70px;
	height: 70px;
}

.box .summary {
	background-color: #efefef;
	text-align: center;
	padding: 3px;
	font-size: 13px;
}

.box .slot {
	padding: 5px;
}

.box.finals {
	margin-top: -140px;
	text-align: center;
}

.box.finals .slot {
	height: 102px;
}

.box.finals .slot img {
	height: 100px;
	width: 100px;
}

.box.finals .deets {
	position: relative;
	padding-bottom: 10px;
}

.box .header {
	background-color: blue;
	color: white;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}

.box .deets {
	position: absolute;
	font-size: 12px;
	font-family: arial;
	display: block;
	padding: 3px;
	text-align: center;
	right: 3px;
	top: 3px;
	background-color: transparent;
	color: black;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.live-now {
    position: absolute;
    top: -9px;
    right: -16px;
    padding: 3px;
    background-color: red;
    color: white;
    font-size: 10px;
}

.last-updated {
	font-size: 12px;
	color: #999;
	margin-top: 5px;
	text-align: center;
}

.upcoming {
	text-decoration: none;
	text-align: center;
	margin: auto;
	background-color: blue;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	color: white;
	font-size: 16px;
	display: block;
	width: 200px;
	border-radius: 5px;
	font-weight: bold;
}

.created-by, .created-by a, .refresh {
	font-size: 12px;
	text-align: center;
	color: #000;
}

@media (max-width: 1200px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: block;
		margin-bottom: 500px;
	}	

	.mobile table td {
		font-size: 40px;
	}

	.mobile table td img {
		width: 200px;
		height: 200px;
	}

	select {
		height: 75px;
		width: 500px;
		font-size: 30px;
		text-indent: 115px;
	}

	.upcoming {
		font-size: 30px;
		width: 400px;
	}

	.box table .placeholder {
		width: 200px;
		height: 200px;
	}

	.footer .last-updated, .footer .last-updated a, .footer .last-updated .created-by, .footer .last-updated .created-by a {
		font-size: 30px;
	}

	.box {
		margin-bottom: 10px;
	}

	.box .summary a {
		font-size: 20px;
	}

	.box.finals {
		margin-top: 10px;
	}

	.box.finals .slot {
		height: 300px;
	}

	.box.finals .slot.top img, .box.finals .slot.bottom img {
		width: 300px;
		height: 300px;
	}

	.footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background: #efefef;
		border-top: #999 1px solid;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.footer .upcoming {
		padding: 75px;
	}

	.live-now {
		position: relative;
		top: auto;
		right: auto;
		text-align: center;
		font-size: 14px;
	}
}